:root {
  --radius: 30px;
}

lab-switch {
  display: inline-flex;
  margin: 0 auto;
  height: 37px;
  min-width: 300px;
  width: 30vw;
  align-items: stretch;
  justify-content: stretch;
}

lab-switch button {
  display: block;
  margin: 0;
  flex: 1;
  border: none;
  background-color: #212330;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-family: "Lato", sans-serif;
  position: relative;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
  background-size: 200% auto;
  transition: 0.1s;
}

lab-switch button:first-child {
  flex: 1;
  border-radius: var(--radius) 0 0 var(--radius);
  background-image: linear-gradient(to right, #28313b 0%, #485461 50%, #28313b 100%);
}
lab-switch button:first-child:active {
  background-position: right center;
}

lab-switch button:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
  background-image: linear-gradient(to left, #28313b 0%, #485461 50%, #28313b 100%);
  background-position: right center;
}
lab-switch button:last-child:active {
  background-position: left center;
}
